<% include ../head.ejs %>

<div class="container">

    <h2 class="center">Recently added items</h2>

    <div>
        <% if (items.length) { %>

            <table class='table wrapper-for-recently-added-items'>

                <tr>
                    <th style='marginRight:100px'> Item </th>
                    <th>Date Added</th>
                    <th> Description </th>
                </tr>
            
                <% items.map(function(item){ %>
                
                    <tr>
                        <td width='25%'>
                            <a 
                                href="<%- '/premade/item/' + item.id %>"
                            >
                                <%-                             
                                    item.name.length > 48 ? (
                                        item.name.substring(0, 24) + 
                                            '...' + 
                                            item.name.substring((item.name.length - 24), item.name.length)

                                    ) : item.name    
                                %>
                            </a>
                        </td>
                        <td width='15%'>
                            <%- item.humanFormattedDate %>
                        </td>
                        <td> 
                            <%- 
                                item.description.length > 240 ? (
                                    item.description.substring(0, 240) + 
                                            '...' + 
                                            item.description.substring((item.description.length - 240), item.description.length)

                                ) : item.description 
                            %> 
                        </td>
                    </tr>

                <% }) %>

            </table>
            
        <% } else { %>
            <p>
                No items found. Please contact system administrator if you think this is in error.
            </p>
        <% } %>
    </div>

</div>

<style>
    .wrapper-for-recently-added-items {
        font-size: 0.875rem;
    }
</style>

<% include ../foot.ejs %>
