<% include ../head.ejs %>
<% include ./sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <h2>Documents</h2>
        <p>This page needs some content, ideas?</p>
    </div>
</div>
<% include ../foot.ejs %>