<%- include('../head.ejs') %>
<%- include('./sidebar.ejs') %>

<div class="sidebar-push">
    <div class="container">
        <h2 class="center">Documents - Rearrange</h2>
        <div id="app"></div>
    </div>
</div>

<script>
    var subjects = JSON.parse('<%- JSON.stringify(subjects) %>');
</script>
<script src="/js/rearrangeDocs.js"></script>




<%- include('../foot.ejs') %>