<div class="nav-left">
    <ul>

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad">
            <h4>Admin</h4>
            <div class="form-group">
                <li><a href="/docs/new" class="button primary">New</a></li>
            </div>
        </div>
        <% } %>

        <li><a href="#">Show All</a></li>

        <% subjects.map(function(subject){ %>
        <li><a href="/docs/<%- subject.id %>"><span class="icon" data-icon="&#xe07b;"></span><span
                        class="name"><%- subject.name %></span></a></li>
        <% }) %>
    </ul>
</div>