<!--
    IMPORTANT: Any styling from this <style> block should be placed in your /public/style/style.less file.
    Do NOT include <style> tags directly in EJS views unless it's critical for email templates.
-->
<div class="nav-left">

    <a href="/docs"><h2>Documentation</h2></a>

    <ul>
        <li>
            <span class="icon arrow_carrot-right"></span>
            <a href="/docs" class="name">Show All</a>
        </li>
        <% subjects.sort((a, b) => a.position - b.position).forEach(function(subject){ %>
            <% if (!subject.disabled || (locals.signedInUser && locals.signedInUser.isAdmin)) { %>
                <li>
                    <span class="icon arrow_carrot-right"></span>
                    <a href="/docs/<%- subject.id %>">
                        <span class="name <%= (subject.disabled) ? 'disabled' : '' %>"><%- subject.name %></span>
                    </a>
                </li>
            <% } %>
        <% }) %>
    </ul>

</div>