<div class="nav-left">

    <a href="/docs"><h2>Documentation</h2></a>

    <ul>
        <li>
            <span class="icon arrow_carrot-right"></span>
            <a href="/docs" class="name">Show All</a>
        </li>
        <% subjects.sort(function (a, b) {
            return a.position > b.position;
        }).map(function(subject){ %>
        <% if(subject.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !subject.disabled){ %>
        <li>
            <span class="icon arrow_carrot-right"></span>
            <a href="/docs/<%- subject.id %>">
                <span class="name <% if(subject.disabled){ %>disabled<% } %>"><%- subject.name %></span>
            </a>
        </li>
        <% } %>
        <% }) %>
    </ul>


</div>