<div class="nav-left">

    <h2>Documentation</h2>

    <ul>
        <li>
            <span class="icon arrow_carrot-right"></span>
            <a href="/docs" class="name">Show All</a>
        </li>

        <% subjects.sort().map(function(subject){ %>
        <li>
            <span class="icon arrow_carrot-right"></span>
            <a href="/docs/<%- subject.id %>">
                <span class="name"><%- subject.name %></span>
            </a>
        </li>
        <% }) %>
    </ul>


</div>