@import "../components/normalize-css/normalize.css";
//colors
@font-color: #3d4351;
@white: #fff;
@white-dark: #e5e5e5;
@blue: #2cb3cb;
@blue-light: #2ee2d3;
@background: #F0F3FA;
@grey: #CACEDA;

@red: #ED5565;

//variables
@container-width: 980px;
@breakpoint: 750px;

@input-height: 36px;

@import "base";
@import "grid";
@import "type";
@import "form";
@import "nav";
@import "tile";
@import "button";
@import "badge";