//colors

@white: #fff;
@blue: #2cb3cb;
@blue-light: #2ee2d3;
@background: #F0F3FA;
@grey: #91949D;

//variables
@container-width: 980px;
@breakpoint: 750px;

@import "base";
@import "grid";
@import "nav";
@import "tile";