@import "../components/normalize-css/normalize.css";
//colors
//@font-color: #3d4351;
@font-color: #3a3f51;
@white: #fff;
@white-dark: #e5e5e5;
@blue: #2cb3cb;
@blue-light: #2ee2d3;
@background: #F0F3FA;
@grey: #dde6e9;

@red: #ED5565;

//variables
@container-width: 980px;
@breakpoint: 750px;
@input-height: 35px;

.pillow {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

@import "base";
@import "grid";
@import "type";
@import "form";
@import "nav";
@import "tile";
@import "button";
@import "badge";