.tile {
  padding: 10px;
  text-align: center;
  background-color: @blue;
  display: block;
  color: @white;
  border-radius: 4px;
  margin-bottom: 8px;
  font-weight: 100;
  font-size: 3rem;
  &:hover {
    background-color: darken(@blue, 2%);
    //background-color: @blue-light;
  }

}