<% include head %>
<div class="container">

    <h1 class="center big">Error</h1>

    <% if(typeof error != 'undefined'){ %>
    <div class="well code error">
        <span><%- error %></span>
    </div>
    <a href="mailto:bioinformatics@tsl.ac.uk?subject=I found a bug with the Syn Bio site&body=<%- encodeURI(error) %>"
       class="button primary center" target="_blank"><span data-icon="&#xe010;"></span> Report
        this
        bug</a>
    <% } else { %>
    <p class="center">Something happened... Something bad...</p>
    <% } %>

</div>

<% include foot %>