<% include head %>
<div class="container">

    <!--<h3><a href="#" onclick="goBack()"><i class="fa fa-chevron-left"></i> Back</a></h3>-->
    <h2 class="center"><%- error %></h2>
</div>

<% include foot %>