<% if(locals.messages.success_messages){ %>
<% locals.messages.success_messages.map(function(success){ %>
<div class="flash success">
    <div class="container">
        <span class="pull-left status icon icon_check"></span>
        <span class=""><%- success %></span>
        <a href="#" data-close="true" class="icon icon_close trans_black pull-right"></a>
    </div>
</div>
<% }); %>
<% } %>
<% if(locals.messages.info_messages){ %>
<% locals.messages.info_messages.map(function(info){ %>
<div class="flash primary">
    <div class="container">
        <span class="pull-left status icon  icon_info_alt"></span>
        <span class=""><%- info %></span>
        <a href="#" data-close="true" class="icon icon_close trans_black pull-right"></a>
    </div>
</div>
<% }); %>
<% } %>
<% if(locals.messages.error_messages){ %>
<% locals.messages.error_messages.map(function(error){ %>
<div class="flash error">
    <div class="container">
        <span class="pull-left status icon icon_error-circle_alt"></span>
        <span class=""><%- error %></span>
        <a href="#" data-close="true" class="icon icon_close trans_black pull-right"></a>
    </div>
</div>
<% }); %>
<% } %>

<% /* JavaScript to handle closing flash messages */ %>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('[data-close="true"]').forEach(function(closeButton) {
            closeButton.addEventListener('click', function(e) {
                e.preventDefault(); // Prevent the default link behavior
                // Find the closest parent flash message div
                const flashMessageDiv = closeButton.closest('.flash');
                if (flashMessageDiv) {
                    flashMessageDiv.style.display = 'none'; // Simple hide
                    // Or for a smoother transition, add a class and use CSS for fadeOut:
                    // flashMessageDiv.classList.add('flash-hidden');
                    // setTimeout(() => flashMessageDiv.remove(), 500); // Remove after animation
                }
            });
        });
    });
</script>