<!--<script src="/components/jquery/dist/jquery.min.js"></script>-->
<script src="/js/main.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

    var socketURL = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');

    var socket = io.connect(socketURL);

</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    _paq.push(['setTrackerUrl',  'https://api-8c7010c8b4d19059d155481f3c8de6b2.oasis.sandstorm.io']);
    _paq.push(['setSiteId', 1]);
    _paq.push(['setApiToken', 'Q_fZXLreabwHxgVU3YytaDIPW1c-c44BGsfiiMosmnx']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://ijotue6mf8wpldqbraqg.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code --

</body>
</html>
