<!--<script src="/components/jquery/dist/jquery.min.js"></script>-->

<script src="/socket.io/socket.io.js"></script>
<script>
    var socketURL = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
    var socket = io.connect(socketURL);
</script>
<script src="/js/main.js"></script>

</body>
</html>
