<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="/favicon.ico">-->

    <title>SynBio Shop</title>

    <link href="/components/elegant-icons/css/style.css" rel="stylesheet">
    <link href="/components/animate.css/animate.min.css" rel="stylesheet">
    <link href="/style/style.min.css" rel="stylesheet">

    <script src="/components/react/react.js"></script>
    <script src="/components/react/react-dom.min.js"></script>

    <script src="/components/jquery/dist/jquery.min.js"></script>

</head>

<body>

<script>
    document.signedInUser = JSON.parse('<%- JSON.stringify(locals.signedInUser) %>');
</script>

<% include flashes.ejs %>
