<% include ./head-no-nav.ejs %>

<nav class="nav">
    <div class="brand">
        <a href="/">
            <span>SynBio</span>
        </a>
    </div>
    <div class="pull-right">

        <% if(locals.signedInUser){ %>
        <a href="/cart" class="cart">
            <span class="icon" data-icon="&#xe015;"></span>
            <span class="count"><%- locals.signedInUser.cart.items.length || 0 %> item(s)</span>
        </a>
        <% } %>

        <div class="user">
            <% if(locals.signedInUser){ %>

            <a href="/whoami">
                <div class="image">
                    <img src="<%- locals.signedInUser.iconURL %>">
                </div>
                <div class="name">
                    <span><%- locals.signedInUser.name %></span>
                </div>
            </a>
            <div class="user-menu hidden">
                <ul>
                    <li>
                        <a href="/signout">Sign out</a>
                    </li>
                </ul>
            </div>

            <% } else { %>
            <div class="name">
                <a href="/signin">Sign in</a>
            </div>
            <% } %>
        </div>
    </div>
</nav>
