<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>TSL SynBio</title>

    <link rel="stylesheet" type="text/css" href="/style/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/dropzone.min.css">
    
</head>

<body>
    <script>
        document.signedInUser = null; 

        if (typeof locals !== 'undefined' && locals.signedInUser) {
            document.signedInUser = JSON.parse('<%- JSON.stringify(locals.signedInUser) %>');
        }
    </script>

    <% if (typeof locals !== 'undefined' && locals.billboard && locals.billboard.enabled && locals.billboard.text) { %>
        <div class="billboard">
            <div class="container">
                <p><%- locals.billboard.text %></p>
            </div>
        </div>
    <% } %>

    <% include flashes.ejs %>