<% include ./head-no-nav.ejs %>

<nav class="nav">
    <div class="brand">
        <a href="/">
            <!--<img src="/img/brand.png">-->
            <span>SynBio</span>
        </a>
    </div>
    <div class="pull-right nav-top-right">

        <% if(locals.signedInUser){ %>
        <div class="search">
            <input id="seach-input" type="text" placeholder="Search">
        </div>

        <div id="search-results" class="search-results hidden">
            <ul></ul>
        </div>


        <a href="/cart" class="nav-cart">
            <span class="icon" data-icon="&#xe015;"></span>
            <span class="count"><%- locals.signedInUser.cart.items.length %></span>
        </a>
        <% } %>

        <div class="user">
            <% if(locals.signedInUser){ %>

            <!--<a href="/whoami">-->
            <div class="image">
                <img src="<%- locals.signedInUser.iconURL %>">
            </div>
            <div class="name">
                <span><%- locals.signedInUser.name %></span>
            </div>
            <!--</a>-->
            <div class="user-menu hidden">
                <ul>
                    <% if (locals.signedInUser.isAdmin){ %>
                    <li>
                        <a href="/filemanager">File Manager</a>
                    </li>
                    <% } %>
                    <li>
                        <a href="/orders">My Orders</a>
                    </li>
                    <li>
                        <a href="/signout">Sign out</a>
                    </li>
                </ul>
            </div>

            <% } else { %>
            <div class="name">
                <a href="/signin">Sign in</a>
            </div>
            <% } %>
        </div>
    </div>
</nav>
