<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="/favicon.ico">-->

    <title>TSL SynBio</title>

    <link href="/components/elegant-icons/css/style.css" rel="stylesheet">
    <link href="/components/animate.css/animate.min.css" rel="stylesheet">
    <link href="/style/style.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    <script src="/components/jquery/dist/jquery.min.js"></script>

</head>

<body>

<script>
    document.signedInUser = JSON.parse('<%- JSON.stringify(locals.signedInUser) %>');
</script>

<% include flashes.ejs %>
