<% include ./head.ejs %>

<div class="container">

    <h1 class="center">The SynBio Shop</h1>

    <p class="center">Welcome to the TSL SynBio Shop, please choose if you would like pre-made parts or custom made.</p>

    <div class="row">
        <div class="col6">
            <div class="tile">
                <img class="tile-img-top" src="/img/ots2.jpg"
                     alt="Off The Shelf">
                <div class="tile-block">
                    <h4 class="tile-title">Off The Shelf</h4>
                    <p class="tile-text">Select from all the pre made parts and order stuff.</p>
                </div>
                <a href="/premade" class="button primary tile-button-bottom">
                    <span data-icon="&#xe015;"></span> Shop</a>
            </div>
        </div>
        <div class="col6">
            <div class="tile">
                <img class="tile-img-top" src="/img/custom3.jpg"
                     alt="Custom Made">
                <div class="tile-block">
                    <h4 class="tile-title">Custom Made</h4>
                    <p class="tile-text">Create you own using the parts available.</p>
                </div>
                <a href="/custom" class="button primary tile-button-bottom disabled">
                    <span data-icon="&#x66;"></span> Design</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col12">
            <div class="tile">
                <!--<img class="tile-img-top" src="/img/docs.jpg" alt="Documentation">-->
                <div class="tile-block">
                    <h4 class="tile-title">Documentation</h4>
                    <p class="tile-text">You should read it.</p>
                    <!--<a href="/docs" class="button primary">Read</a>-->
                </div>
                <a href="/docs" class="button primary tile-button-bottom">
                    <span data-icon="&#x69;"></span> Read</a>

            </div>
        </div>
    </div>
</div>

<% include ./foot.ejs %>