<% include ./head.ejs %>

<div class="container">

    <h1 class="center">TSL SynBio</h1>

    <p class="center">Welcome to TSL SynBio!</p>

    <p class="center">This site hosts information and training resources for parallel DNA assembly techniques and genome
        engineering in plants. It also houses a database of plasmids available to researchers at The Sainsbury
        Laboratory, which can be ordered online</p>

    <div class="row">
        <div class="col12">
            <div class="tile">
                <!--<img class="tile-img-top" src="/img/docs.jpg" alt="Documentation">-->
                <div class="tile-block">
                    <h4 class="tile-title">Documentation</h4>
                    <p class="tile-text">Information and training resources relating to DNA assembly techniques and
                        genome engineering technologies</p>
                </div>
                <a href="/docs" class="button primary tile-button-bottom">
                    <span data-icon="&#x69;"></span> Read</a>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col6">
            <div class="tile">
                <img class="tile-img-top" src="/img/ots2.jpg"
                     alt="Off The Shelf">
                <div class="tile-block">
                    <h4 class="tile-title">Plasmid Database</h4>
                    <p class="tile-text">Search the database of plasmids and order aliquots</p>
                </div>
                <a href="/premade" class="button primary tile-button-bottom">
                    <span data-icon="&#xe015;"></span> Shop</a>
            </div>
        </div>
        <div class="col6">
            <div class="tile">
                <img class="tile-img-top" src="/img/custom3.jpg"
                     alt="Custom Made">
                <div class="tile-block">
                    <h4 class="tile-title">Custom Made</h4>
                    <p class="tile-text">Coming Soon...</p>
                </div>
                <a href="/custom" class="button primary tile-button-bottom disabled">
                    <span data-icon="&#x66;"></span> Design</a>
            </div>
        </div>
    </div>

</div>

<% include ./foot.ejs %>