<% include ./head.ejs %>

<div class="container">
    <p>Welcome to the TSL SynBio Shop, please choose if you would like pre-made parts or custom made.</p>
    <div class="row">
        <div class="col6">
            <a href="/premade" class="tile">
                <span>Off The Shelf</span>
            </a>
        </div>
        <div class="col6">
            <a href="/custom" class="tile">
                <span>Custom Made</span>
            </a>
        </div>
    </div>
</div>

<% include ./foot.ejs %>