<nav class="nav">
    <div class="brand">
        <a href="/">
            <span>SynBio Shop</span>
        </a>
    </div>
    <div class="pull-right">

        <% if(locals.signedInUser){ %>
        <div class="cart">
            <!--<a href="/cart">-->
            <span class="icon" data-icon="&#xe015;">
                <span class="badge">0</span>
            </span>
            <!--</a>-->
        </div>
        <% } %>

        <div class="user">
            <% if(locals.signedInUser){ %>

            <a href="/whoami">
                <div class="image">
                    <img src="<%- locals.signedInUser.iconURL %>">
                </div>
                <div class="name">
                    <span><%- locals.signedInUser.name %></span>
                </div>
            </a>
            <div class="user-menu hidden">
                <ul>
                    <% if(locals.signedInUser.isAdmin){ %>
                    <li>
                        <a href="/premade/admin">Pre Made admin </a>
                    </li>
                    <li>
                        <a href="/custom/admin">Custom Made admin </a>
                    </li>
                    <% } %>
                    <li>
                        <a href="/signout">Sign out</a>
                    </li>
                </ul>
            </div>

            <% } else { %>
            <div class="name">
                <a href="/signin">Sign in</a>
            </div>
            <% } %>
        </div>
    </div>
</nav>