<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <h2>New Database</h2>

        <form method="post" action="/premade/new">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="wide">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select id="type" name="type" class="wide">
                    <% types.map(function(type){ %>
                    <option value="<%- type.type %>"><%- type.typeName %></option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <button type="submit">Save</button>
            </div>
        </form>

    </div>
</div>


<% include ../../foot.ejs %>