<% include ../../head.ejs %>
<% include ./../sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">

        <h2>New Category for <%- db.name %></h2>

        <form method="post" action="/premade/<%- db.id %>/new">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="wide" required>
            </div>
            <div class="form-group">
                <button type="submit" class="success">Save</button>
            </div>
        </form>

    </div>
</div>


<% include ../../foot.ejs %>