<%- include('../../head.ejs') %>
<%- include('../sidebar.ejs') %>

<div class="sidebar-push">
    <div class="container">

        <h2>New Documentation Subject</h2>

        <form method="post" action="/docs/new">

            <% if(parentSubjectID){ %>
            <input type="hidden" name="parentSubjectID" value="<%- parentSubjectID %>">
            <% } %>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
            </div>

            <div class="form-group">
                <button type="submit" class="success">Save</button>
            </div>


        </form>
    </div>
</div>

<%- include('../../foot.ejs') %>