<% include ../../head.ejs %>

<div class="container">

    <h2>New Documentation Subject</h2>

    <form method="post" action="/docs/new">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>

        <div class="form-group">
            <button type="submit">Save</button>
        </div>


    </form>

</div>

<% include ../../foot.ejs %>