<% include ../head.ejs %>

<div class="container">
    <h2 class="center">Item is already in cart</h2>
    <p class="center">You can order a large quantity at checkout</p>
</div>

<% include ../foot.ejs %>