<% include ../head.ejs %>

<div class="container">

    <h2 class="center">Custom Part</h2>


    <div id="app" class="goldengate"></div>


    <script src="/components/react/react.js"></script>
    <script src="/components/react/react-dom.min.js"></script>
    <script src="/js/goldengate.js"></script>

</div>

<% include ../foot.ejs %>