<% include ../head.ejs %>
<% include ./sidebar.ejs %>

<!---->
<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/premade/new" class="button primary">New</a>
            </div>
        </div>
        <% } %>

        <h2 class="center">Pre Made</h2>

        <% dbs.map(function(db){ %>
        <h5><%- db.name %></h5>
        <ul>
            <% db.categories.map(function(category){ %>
            <li><a href="/premade/category/<%- category.id %>"><%- category.name %></a></li>
            <% }); %>
        </ul>
        <% }); %>

    </div>
</div>


<% include ../foot.ejs %>