<% include ../head.ejs %>
<% include ./sidebar.ejs %>

<!---->
<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad inverted">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/premade/new" class="button primary">New</a>
            </div>
        </div>
        <% } %>

        <h1 class="center">Pre Made</h1>

        <% dbs.map(function(db){ %>
        <% if(db.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !db.disabled){ %>
        <div class="indent">
            <h5 class="<% if(db.disabled){ %>disabled<% } %>"><%- db.name %></h5>
            <ul>
                <% db.categories.map(function(category){ %>
                <% if(category.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !category.disabled){ %>
                <div class="indent">
                    <li><a class="<% if(category.disabled){ %>disabled<% } %>"
                           href="/premade/category/<%- category.id %>"><%- category.name %></a></li>
                </div>
                <% } %>
                <% }); %>
            </ul>
        </div>
        <% } %>
        <% }); %>

    </div>
</div>


<% include ../foot.ejs %>