<% include ../head.ejs %>
<% include ./sidebar.ejs %>

<!---->
<div class="sidebar-push">
    <div class="container">

        <% if(locals.signedInUser && locals.signedInUser.isAdmin){ %>
        <div class="tile pad inverted">
            <h4>Admin</h4>
            <div class="form-group">
                <a href="/premade/new" class="button primary">New</a>
                <a href="/premade/rearrange" class="button primary">Rearrange</a>
                <a href="/premade/export" class="button primary">Export to CSV</a>
            </div>
        </div>
        <% } %>

        <h1 class="center">Pre Made</h1>

        <div class="simon-list">
            <% dbs.sort(function (a, b) {
                return a.position - b.position;
            }).map(function(db){ %>
            <% if(db.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !db.disabled){ %>
            <!--<div class="indent">-->
            <h2 class="<% if(db.disabled){ %>disabled<% } %>"><%- db.name %></h2>
            <ul>
                <% db.categories.sort(function (a, b) {
                    return a.position - b.position;
                }).map(function(category){ %>
                <% if(category.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !category.disabled){ %>
                <div class="indent">
                    <li><a class="<% if(category.disabled){ %>disabled<% } %>"
                           href="/premade/category/<%- category.id %>"><span
                                    data-icon="&#xe017;"></span> <%- category.name %></a></li>
                </div>
                <% } %>
                <% }); %>
            </ul>
            <% } %>
            <% }); %>
        </div>
    </div>
</div>


<% include ../foot.ejs %>
