<% include ../head.ejs %>
<% include ./sidebar.ejs %>

<div class="sidebar-push">
    <div class="container">
        <h2 class="center">Premade - Rearrange</h2>
        <div id="app"></div>
    </div>
</div>

<!--<script src="/components/react/react.js"></script>-->
<!--<script src="/components/react/react-dom.js"></script>-->
<!--<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>-->

<script>
    var dbs = JSON.parse('<%- JSON.stringify(dbs) %>');
</script>
<script src="/js/rearrangePremade.js"></script>
<script type="text/babel">



</script>


<% include ../foot.ejs %>