<% include ../head.ejs %>
<% include ./sidebar.ejs %>

<div class="sidebar-push">
  <div class="container">
    <h2 class="center">Premade - Rearrange</h2>
    <div id="app"></div>
  </div>
</div>

<script>
  try {
    var ejsData = '<%- JSON.stringify(dbs) %>';
    console.log(ejsData);
    var dbs = JSON.parse(ejsData);
  } catch (e) {
    console.error(e);
  } finally {
    console.log('JERRY!');
  }
</script>

<script src="/js/rearrangePremade.js"></script>
<script type="text/babel"></script>

<% include ../foot.ejs %>