<%- include('../head.ejs') %>
<%- include('./sidebar.ejs') %>

<div class="sidebar-push">
  <div class="container">
    <h2 class="center">Premade - Rearrange</h2>
    <h5 class="center muted-text">Drag and drop to rearrange. Please note saving takes 30-60 seconds on average for large databases - please remain patient after clicking submit at the bottom of the page!</h5>
    <div id="app"></div>
  </div>
</div>

<script>
  var dbs = <%- JSON.stringify(dbs) %>;
</script>
<script src="/js/rearrangePremade.js"></script>
<script type="text/babel"></script>

<% include ../foot.ejs %>