<div class="nav-left">

    <a href="/premade"><h2>Premade</h2></a>

    <ul>
        <li>
            <span class="icon arrow_carrot-right"></span>
            <a href="/premade" class="name">Show All</a>
        </li>
        <% dbs.sort(function (a, b) {
            return a.position - b.position;
        }).map(function(db){ %>
        <% if(db.disabled && locals.signedInUser && locals.signedInUser.isAdmin || !db.disabled){ %>
        <li>
            <span class="icon arrow_carrot-right"></span>
            <a href="/premade/<%- db.id %>">
                <span class="name <% if(db.disabled){ %>disabled<% } %>"><%- db.name %></span>
            </a>
        </li>
        <% } %>
        <% }) %>
    </ul>

</div>