<div class="nav-left">

    <h2>Premade</h2>

    <ul>
        <li>
            <span class="icon arrow_carrot-right"></span>
            <a href="/premade" class="name">Show All</a>
        </li>
        <% dbs.sort().map(function(db){ %>
        <li>
            <span class="icon arrow_carrot-right"></span>
            <a href="/premade/<%- db.id %>">
                <span class="name"><%- db.name %></span>
            </a>
        </li>
        <% }) %>
    </ul>

</div>